<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>parts-beardR</key>
      <dict>
        <key>frame</key>
        <string>{{58,248},{68,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,18}}</string>
        <key>sourceSize</key>
        <string>{68,18}</string>
      </dict>
      <key>parts-beardL</key>
      <dict>
        <key>frame</key>
        <string>{{385,261},{60,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,18}}</string>
        <key>sourceSize</key>
        <string>{60,18}</string>
      </dict>
      <key>parts-handR</key>
      <dict>
        <key>frame</key>
        <string>{{447,261},{49,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,29}}</string>
        <key>sourceSize</key>
        <string>{49,29}</string>
      </dict>
      <key>parts-armR</key>
      <dict>
        <key>frame</key>
        <string>{{465,160},{23,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,39}}</string>
        <key>sourceSize</key>
        <string>{23,39}</string>
      </dict>
      <key>parts-armUpperR</key>
      <dict>
        <key>frame</key>
        <string>{{58,199},{80,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,47}}</string>
        <key>sourceSize</key>
        <string>{80,47}</string>
      </dict>
      <key>parts-legR</key>
      <dict>
        <key>frame</key>
        <string>{{401,0},{90,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,116}}</string>
        <key>sourceSize</key>
        <string>{90,116}</string>
      </dict>
      <key>parts-tail</key>
      <dict>
        <key>frame</key>
        <string>{{291,0},{108,139}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,139}}</string>
        <key>sourceSize</key>
        <string>{108,139}</string>
      </dict>
      <key>parts-eyeR</key>
      <dict>
        <key>frame</key>
        <string>{{491,118},{19,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,29}}</string>
        <key>sourceSize</key>
        <string>{19,29}</string>
      </dict>
      <key>parts-eyeL</key>
      <dict>
        <key>frame</key>
        <string>{{493,0},{14,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,23}}</string>
        <key>sourceSize</key>
        <string>{14,23}</string>
      </dict>
      <key>parts-head</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{169,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,197}}</string>
        <key>sourceSize</key>
        <string>{169,197}</string>
      </dict>
      <key>parts-hair</key>
      <dict>
        <key>frame</key>
        <string>{{401,118},{62,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,141}}</string>
        <key>sourceSize</key>
        <string>{62,141}</string>
      </dict>
      <key>parts-clothes1</key>
      <dict>
        <key>frame</key>
        <string>{{171,176},{104,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,87}}</string>
        <key>sourceSize</key>
        <string>{104,87}</string>
      </dict>
      <key>parts-body</key>
      <dict>
        <key>frame</key>
        <string>{{171,0},{118,174}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,174}}</string>
        <key>sourceSize</key>
        <string>{118,174}</string>
      </dict>
      <key>parts-legL</key>
      <dict>
        <key>frame</key>
        <string>{{291,141},{102,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{102,90}}</string>
        <key>sourceSize</key>
        <string>{102,90}</string>
      </dict>
      <key>parts-handL</key>
      <dict>
        <key>frame</key>
        <string>{{335,233},{48,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,39}}</string>
        <key>sourceSize</key>
        <string>{48,39}</string>
      </dict>
      <key>parts-armL</key>
      <dict>
        <key>frame</key>
        <string>{{465,118},{24,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,40}}</string>
        <key>sourceSize</key>
        <string>{24,40}</string>
      </dict>
      <key>parts-armUpperL</key>
      <dict>
        <key>frame</key>
        <string>{{277,233},{56,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,43}}</string>
        <key>sourceSize</key>
        <string>{56,43}</string>
      </dict>
      <key>parts-tailTip</key>
      <dict>
        <key>frame</key>
        <string>{{0,199},{56,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,105}}</string>
        <key>sourceSize</key>
        <string>{56,105}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>Dragon.png</string>
      <key>textureFileName</key>
      <string>Dragon.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>